<a href="https://colab.research.google.com/github/YulyaZh/-/blob/main/%D0%B4%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BF%D0%BE_%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D0%BD%D0%BE%D0%BC%D1%83_%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
df = pd.read_csv("Домашняя бухгалтерия.csv", sep=",")

In [ ]:
df.head()

,траты в позапрошлом месяце,траты в прошлом месяце,траты в тек. месяце,траты в след. месяце
0,12500.0,12500.0,12500.0,NaN
1,700.0,800.0,900.0,NaN
2,900.0,1000.0,1100.0,NaN
3,7000.0,8000.0,8200.0,NaN
4,9000.0,9500.0,9800.0,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   траты в позапрошлом месяце  9 non-null      float64
 1   траты в прошлом месяце      9 non-null      float64
 2   траты в тек. месяце         9 non-null      float64
 3   траты в след. месяце        0 non-null      float64
dtypes: float64(4)
memory usage: 416.0 bytes

In [ ]:
df.describe()

,траты в позапрошлом месяце,траты в прошлом месяце,траты в тек. месяце,траты в след. месяце
count,9.000000,9.000000,9.000000,0.0
mean,3605.555556,3861.111111,3994.444444,NaN
std,4636.839201,4746.694756,4756.077983,NaN
min,450.000000,550.000000,750.000000,NaN
25%,600.000000,700.000000,900.000000,NaN
50%,800.000000,1000.000000,1000.000000,NaN
75%,7000.000000,8000.000000,8200.000000,NaN
max,12500.000000,12500.000000,12500.000000,NaN

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df.columns

Index(['траты в позапрошлом месяце', 'траты в прошлом месяце',
       'траты в тек. месяце', 'траты в след. месяце'],
      dtype='object')

In [ ]:
x = df[['траты в позапрошлом месяце', 'траты в прошлом месяце', 'траты в тек. месяце']]
y = df['траты в след. месяце']

In [ ]:
y

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
Name: траты в след. месяце, dtype: float64

In [ ]:
x

   траты в позапрошлом месяце  траты в прошлом месяце  траты в тек. месяце
0                     12500.0                 12500.0              12500.0
1                       700.0                   800.0                900.0
2                       900.0                  1000.0               1100.0
3                      7000.0                  8000.0               8200.0
4                      9000.0                  9500.0               9800.0
5                       450.0                   550.0                750.0
6                       600.0                   700.0                800.0
7                       500.0                   700.0                900.0
8                       800.0                  1000.0               1000.0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train

   траты в позапрошлом месяце  траты в прошлом месяце  траты в тек. месяце
3                      7000.0                  8000.0               8200.0
2                       900.0                  1000.0               1100.0
1                       700.0                   800.0                900.0
4                      9000.0                  9500.0               9800.0
5                       450.0                   550.0                750.0
7                       500.0                   700.0                900.0
0                     12500.0                 12500.0              12500.0

In [ ]:
X_test

   траты в позапрошлом месяце  траты в прошлом месяце  траты в тек. месяце
6                       600.0                   700.0                800.0
8                       800.0                  1000.0               1000.0

In [ ]:
y_train

3   NaN
2   NaN
1   NaN
4   NaN
5   NaN
7   NaN
0   NaN
Name: траты в след. месяце, dtype: float64

In [ ]:
y_test

6   NaN
8   NaN
Name: траты в след. месяце, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

ValueError: ignored